* {
    padding: 0;
    margin: 0;
}

:root {
    --header-text-color: rgb(255, 255, 255);
    --primary-color: rgb(0, 0, 0);
    --secondary-color: rgb(119, 119, 119);
    --footer-text-color: #16655c;
}

body {
    font-family: arial, sans-serif;
}

header {
    height: 100vh;
    background-image: url(../images/desktop/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    & h1 {
        font-size: 65px;
        color: var(--header-text-color);
        font-family: none;
        letter-spacing: 5px;
        position: absolute;
        top: 20%;
        left: 27%;
    }
    & .arrow-down {
        position: absolute;
        top: 40%;
        left: 50%;
    }
    & nav {
        position: absolute;
        top: 7%;
        left: 5%;
        & img {
            width: 180px;
        }
        display: flex;
        gap: 750px;
        & .desktop-ul {
            list-style-type: none;
            gap: 60px;
            display: flex;

            & .contact-button {
                border: none;
                border-radius: 50px;
                padding: 17px;
                background-color: var(--header-text-color);
                color: var(--primary-color);
            }
            & a {
                font-size: 18px;
                color: var(--header-text-color);
                text-decoration: none;

            }
        }
    }
    & .burger-menu {
        display: none;
        align-items: flex-end;
        flex-direction: column;
        cursor: pointer;
        margin-right: 80px;
        padding-top: 50px;
        & .line {
            width: 20px;
            height: 3px;
            background-color: var(--header-text-color);
            margin-bottom: 5px;

        }
    }
    .tablet-menu {
        & button {
            height: fit-content;
            width: 20px;
            position: relative;
            left: 35%;
            background-color: red;
        }
        display: none;
        position: absolute;
        left: 85%;
        top: 11%;
        background-color: var(--header-text-color);
        border: 1px solid black;
        width: 80px;
        height: 100px;
        z-index: 1000;
        & .tablet-ul {
            gap: 10px;
            display: flex;
            flex-direction: column;
            & .tablet-li {
                list-style-type: none;
                & a {
                    color: var(--primary-color);
                    text-decoration: none;
                }
            }
        }
    }
}
.desktop-li:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

main {
    & .cards1-wrapper {
        display: flex;
        .card1 {
            width: 760px;
            height: 600px;
            border: none;
            & h2 {
                margin-top: 100px;
                margin-left: 150px;
                font-family: none;
                font-size: 50px;
                max-width: 50%;
            }
            & p {
                margin-left: 150px;
                margin-top: 40px;
                margin-bottom: 40px;
                font-size: 17px;
                max-width: 60%;
                line-height: 25px;
                color: var(--secondary-color);
            }
            & button {
                cursor: pointer;
                margin-left: 170px;
                background-color: var(--header-text-color);
                font-family: none;
                border: none;
                font-size: 18px;
                border-bottom: 6px solid gold;
                
            }
        }
        & .card2 {
            height: 600px;
            & img {
                pointer-events: none;
                width: 763px;
                height: 600px;
            }
        }
    }
    & .cards2-wrapper {
        display: flex;
        & .card1 {
            height: 600px;
            & img {
                pointer-events: none;
               width: 750px;
               height: 600px;
            }
        }
        & .card2 {
            & h2 {
                margin-top: 100px;
                margin-left: 150px;
                font-family: none;
                font-size: 50px;
                max-width: 70%;
            }
            & p {
                margin-top: 40px;
                margin-left: 150px;
                max-width: 54%;
                color: var(--secondary-color);
            }
            & button {
                cursor: pointer;
                margin-left: 170px;
                margin-top: 40px;
                background-color: var(--header-text-color);
                border: none;
                font-family: none;
                font-size: 18px;
                border-bottom: 6px solid rgb(213, 201, 186);
            }
        }
    }
    & .cards3-wrapper {
        display: flex;
        text-transform: capitalize;
        & .card1 {
            & img {
                pointer-events: none;
                width: 750px;
                height: 600px;
            }
            & h3 {
                font-size: 35px;
                position: absolute;
                top: 290%;
                left: 15%;
                color: #327a60;
                font-family: none;
            }
            & p {
                text-transform: none;
                color: var(--secondary-color);
                max-width: 25%;
                position: absolute;
                top: 300%;
                left: 11.5%;
                text-align: center;
                line-height: 1.5;
            }
        }
        & .card2 {
            & img {
                pointer-events: none;
                width: 763px;
                height: 600px;
            }
            & h3 {
                color: #11476b;
                font-size: 35px;
                font-family: none;
                position: absolute;
                top: 290%;
                left: 68%;
            }
            & p {
                text-align: center;
                max-width: 25%;
                position: absolute;
                top: 300%;
                left: 62%;
                color: #11476b;
            }
        }       
    }
& .title {
        letter-spacing: 3px;
        font-family: none;
        color: var(--secondary-color);
        font-size: 22px;
        display: flex;
        justify-content: center;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    & .clients {
        display: flex;
        & .emily {
            & img {
                 pointer-events: none;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-left: 200px;
                margin-bottom: 50px;
            }
            & p {
                color: var(--secondary-color);
                max-width: 64%;
                text-align: center;
                margin-left: 60px;
                line-height: 1.7;
                margin-bottom: 50px;
            }
            & strong {
                cursor: pointer;
                margin-left: 210px;
            }
            & h4 {
                margin-left: 180px;
                font-size: 15px;
                color: var(--secondary-color);
                margin-top: 20px;
            }
        }
        & .thomas {
            & img {
                 pointer-events: none;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-left: 200px;
                margin-bottom: 50px;
            }
            & p {
                color: var(--secondary-color);
                 text-align: center;
                margin-left: 75px;
                line-height: 1.7;
                margin-bottom: 50px;
                max-width: 57%;
            }
            & strong {
                 margin-left: 210px;   
            }
            & h4 {
                margin-left: 175px;
                font-size: 15px;
                color: var(--secondary-color);
                margin-top: 20px;
            }
        } 
        & .jennie {
            & img {
                 pointer-events: none;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                margin-left: 200px;
                margin-bottom: 50px;
            }
            & p {
                color: var(--secondary-color);
                 text-align: center;
                margin-left: 75px;
                line-height: 1.7;
                margin-bottom: 50px;
                max-width: 68%;
            }
            & strong {
                cursor: pointer;
                 margin-left: 210px;   
            }
            & h4 {
                margin-left: 195px;
                font-size: 15px;
                color: var(--secondary-color);
                margin-top: 20px;
            }
            margin-bottom: 150px;
        }
    }
    & .photos {
        display: flex;
        & img {
             pointer-events: none;
            width: 400px;
            height: 450px;
        }
    }
}
footer {
    background-color: #88D5CC;;
    height: 400px;
    & strong {
        font-size: 40px;
        color: var(--footer-text-color);
        padding-top: 70px;
        display: flex;
        justify-content: center;
    }
    & nav {
        padding-top: 50px;
        & ul {
            display: flex;
            justify-content: center;
            gap: 60px;
            list-style-type: none;
            & a {
                color: var(--footer-text-color);
                text-decoration: none;
            }
        }
    }
    & .social-medias {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-top: 130px;
    }
}






@media (max-width: 1024px) {

    header {
        background-position: center;
        & .tablet-menu {
            display: none;
        }
    }

    header {
        & h1 {
            font-size: 50px;
        }
        & .burger-menu {
            display: flex !important;
        }
        & nav {
            & ul {
                display: none !important;
            }
        }

    }
    header .arrow-down {
        top: 35% !important;
    }

    .cards1-wrapper {
        flex-direction: column;
    }
    .cards1-wrapper {
        & .card1 {
            height: 400px !important;
            width: 100% !important;
        }
        & .card2 {
            height: 500px !important;
            & img {
                height: 550px !important;
                width: 100% !important;
            }
        }
    }

    .cards1-wrapper .card1 h2,
    .cards1-wrapper .card1 p,
    .cards1-wrapper .card1 button {
        margin-left: 40px !important;
        max-width: 85% !important;
    }

    .cards2-wrapper {
        flex-direction: column-reverse;
    }

    .cards2-wrapper .card2 h2,
    .cards2-wrapper .card2 p,
    .cards2-wrapper .card2 button {
        margin-left: 40px !important;
        max-width: 85% !important;
    }
    .cards2-wrapper {
        & .card1 {
            height: 20px;
        }
    }
    .cards2-wrapper .card1 img,
    .cards2-wrapper .card2 {
        width: 100% !important;
    }

    .cards3-wrapper {
        flex-direction: column;
        position: relative;
    }

    .cards3-wrapper .card1 img,
    .cards3-wrapper .card2 img {
        width: 100% !important;
        height: auto !important;
    }

    .cards3-wrapper .card1 h3,
    .cards3-wrapper .card2 h3 {
        position: static !important;
        margin-top: -140px;
        text-align: center;
    }
    .cards3-wrapper {
        & .card1 {
            height: 559px;
        }
    }
    .cards3-wrapper .card1 p,
    .cards3-wrapper .card2 p {
        position: static !important;
        max-width: 80% !important;
        text-align: center;
        margin: 0 auto 100px auto;
    }

    .title {
        margin-top: 100px !important;
    }

    .clients {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .clients img {
        margin-left: 0 !important;
    }

    .clients strong,
    .clients h4 {
        margin-left: 0 !important;
    }

    .clients .emily,
    .clients .thomas,
    .clients .jennie {
        margin-bottom: 80px;
    }

    .photos {
        flex-wrap: wrap;
    }

    .photos img {
        width: 50% !important;
        height: auto !important;
    }

    footer {
        height: auto;
        padding-bottom: 60px;
    }

    footer strong {
        padding-top: 40px;
    }

    footer nav ul {
        gap: 40px;
    }

    footer .social-medias {
        padding-top: 60px;
        padding-bottom: 40px;
    }
}
